<title><%- title %></title>
<link rel="icon" href="/logos/logoMain.svg">
<link rel="stylesheet" href="/css/confirmingGameId.css">

<body>
<%- include('../admin/gameId.ejs') %>
<div class="pop-up-body">
    <% result.forEach(params => {%>
        <div class="pop-up">
            <div class="pop-up-header">
               <h2><%- params.game_title%></h2>
            </div>
            <div class="pop-up-footer">
                <form action="/confirm_game" method="post">
                    <input type="hidden" value="<%- params.id%>" name="id">
                    <h3><%- params.userName%></h3>
                    <input type="text" value="<%- params.status%>" disabled>
                    <div class="actRej">
                        <label for="active">Active</label>
                        <input type="radio" value="Active" id="active" name="status" checked>
                        <label for="rejected">Rejected</label>
                        <input type="radio" value="Rejected" id="rejected" name="status">
                    </div>
                    <input type="text" value="<%- params.owner_title%>" name="title" disabled>
                    <input type="text" value="<%- params.balance%>" name="balance">
                    <input type="submit" value="Submit" class="confirm">
                </form>
            </div>
        </div>
    <% })%>

</div>

</body>